In [61]:
import pandas as pd

In [70]:
dataset=pd.read_csv('media/dataset.csv')
#dataset['Text']='I want to die'

In [71]:
dataset['Suicide'].value_counts()

Suicide
Not Suicide post           1127
Potential Suicide post      660
Name: count, dtype: int64

In [69]:
dataset['Tweet'][0]

'making some lunch'

In [49]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

[nltk_data] Downloading package stopwords to C:\Users\adepu bharath
[nltk_data]     kumar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [50]:
def preprocessor(text):
    text = re.sub('[^a-zA-Z]', ' ', text) # remove symbl,numbers
    text = word_tokenize(text.lower()) # convert to lower case
    text = [PorterStemmer().stem(word) for word in text if not word in set(stopwords.words('english'))] # remove stops words
    text = ' '.join(text)
    return text
dataset['Tweet'] = dataset['Tweet'].astype(str).apply(preprocessor)

In [28]:
dataset['Tweet'][1]

'alexia want money'

In [51]:
dataset['Tweet'][0]

'make lunch'

In [52]:
encoder = LabelEncoder()

dataset['Suicide'] = encoder.fit_transform(dataset['Suicide'])
dataset.head()

                                               Tweet  Suicide
0                                         make lunch        0
1                                  alexia want money        0
2  dizzyhrvi crap took forev put togeth go go sle...        1
3       jnaylor kiwitweet hey jer sinc start twitter        0
4  tri quot delici librari quot mix result bar co...        0

In [53]:
dataset['Suicide'].value_counts()

Suicide
0    1127
1     660
Name: count, dtype: int64

In [56]:
for i in dataset['Tweet']:
    if 'I want to die' in i:
        print('yes')
    else:
        print('No such text')
        break

No such text

In [58]:
ddataset['Text']='I want to die,but Can not give up'

In [66]:
dataset1=pd.read_csv('media/dataset1.csv')
dataset1

,Tweet,Suicide
0,making some lunch,Not Suicide post
1,@Alexia You want his money.,Not Suicide post
2,@dizzyhrvy that crap took me forever to put to...,Potential Suicide post
3,@jnaylor #kiwitweets Hey Jer! Since when did y...,Not Suicide post
4,Trying out &quot;Delicious Library 2&quot; wit...,Not Suicide post
...,...,...
1783,Starting my day out with a positive attitude! ...,Not Suicide post
1784,"@belledame222 Hey, it's 5 am...give a girl som...",Not Suicide post
1785,2 drunken besties stumble into my room and we ...,Not Suicide post
1786,@dancingbonita &quot;I friggin love you!!!&quo...,Not Suicide post
1787,"I want to die,but Can not give up",Not Suicide post